@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-white text-black dark:bg-gray-900 dark:text-white;
}

nav {
    z-index: 1000;
}

nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
    font-size: 1.5rem;
}

.nav-text {
    display: block;
    color: #000;
    font-size: 16px;
}
